<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div class="container mx-auto p-6">
    Bienvenido
    <button onclick="logout()" class="bg-red-500 block px-4 py-2 text-sm">Cerrar sesión</a>


    <script src="{{url_for('static',filename='logout.js')}}" > </script>
</div>

</html>